.container.position-relative.text-center
  .row
    .scoreboard
      = render "/components/frames", frames: []
  .row
    %strong Total score:
    %span.total_score= 0

  .row
    .message.alert-success
    .error.alert-danger

  .row
    .pins-controller
      = render "pins"
  %hr
  .row
    = render "new_game_link"
